<div class="header_full_width" style="background-image:url(https://d2qjfe4gq0m6av.cloudfront.net/assets/header_image.jpg)"></div>

	<div class="header_logo"><img src="https://d2qjfe4gq0m6av.cloudfront.net/assets/Logo300x300.png"/></div>	
	
		<div class="tagline">
				<h1>Aggregus is a community <br>
				marketplace for unique experiences.</h1>
			</div>
		</div>
		
		<div class="description">
			<h3>It started with a simple assumption: <strong><em>people are awesome.</em></strong> We wanted to create a space where individuals and local businesses could express and share their passions with other members of their community, and reward themselves in the process. Whether you own a homegrown business, love teaching people about your passion, or simply like showing off your ninja skills, Aggregus gives you ability to share and discover what you enjoy through amazing experiences.</h3>
			
			
			<div id="column" class="right" style="position:relative;padding:20px; ">
		    		<img src="https://d2qjfe4gq0m6av.cloudfront.net/assets/gear.png" style="width:30px;"/>
		    		<p style="font-size:18px;"><strong>How does it work? Simple.</strong><p>
		    			<p><strong><em>Hosts</em></strong> create experiences for the Aggregus marketplace, which can range from one-on-one lessons to amazing meals, unique products, eye-opening 							tours, and more. </p>
		    				<br>
		    			<p><strong><em>Guests</em></strong>  book these experiences through the same marketplace and arrange a time that works for both themselves and the host. And that's just the 						beginning.</p>
		    	</div>
		</div>
	
				<img src="https://d2qjfe4gq0m6av.cloudfront.net/assets/computer.png" style="width:450px;position:relative;top:30px;padding:30px;left:50px; "/>
		
	
		
						    	
	<div id="title" class="center">
			<h1 style="color:black;">Aggregus is:</h1>
			<img src="https://d2qjfe4gq0m6av.cloudfront.net/assets/line.png" style="width:100%;"/>
	</div>
    	
    	</div><!--description-->

	
	
<div id="contentWrap" class="center">
    <div class="hr_line"></div>
    	<div id="content-two-third" class="center">
	    	<div class="one-third services"> <img class="icon_left" src="https://d2qjfe4gq0m6av.cloudfront.net/assets/safe.png" alt="icon" />
		    	<h2>Safe.</h2>
		    		<p> Each experience is reviewed by an Aggregus staff member for both quality and compliance to safety standards.</p></div>
     
      <div class="one-third services"> <img class="icon_left" src="https://d2qjfe4gq0m6av.cloudfront.net/assets/simple.png" alt="icon"/>
        <h2>Simple.</h2>
        <p> We've trimmed down. Browsing Aggregus is meant to be a fluid, beautiful experience - built by humans for humans.</p></div>
      <div class="one-third services"> <img class="icon_left" src="https://d2qjfe4gq0m6av.cloudfront.net/assets/unique.png" alt="icon" />
        <h2>Unique.</h2>
        <p> Each experience hosted on Aggregus is guaranteed to be something you can't find just anywhere. No chintzy discounts here!</p>
        </div>
      <div class="hr"></div>
           <div class="hr"></div>
    </div>
    <div id="bottom" class="center" style="padding:20px;">
    We're especially passionate about helping local businesses connect with their communities through awesome experiences. Are you a local business looking to connect with your customers like never before? Send an email to local@aggregus.com or call (509) 939 - 2454 to learn more.</div>

</div>    