<div class="modalcover"></div>

<div class="modalwindow">

	<span class="bookingClose close">X</span>

	<div class="booking">
    	<span name="guestname">Guest Name: </span>
		<span name="totalguests">Total Guests: </span>
		<span name="datedesired">Date Desired: </span>
		<span name="timedesired">Time Desired: </span>
		<span name="status">Status: </span>
		<img height="250" width="250" name="guestimage" />
    </div>

</div>

</div>