<div id="confirmaccountcontent">
    
    <div id="message">
    <span>Your account has been successfully confirmed.</span> 
    <span>Please click <a href="/#dashboard">here</a> to return to Aggregus.</span>
    </div>
    
</div>