<div class="options">
            <a href="/#learnmore"><div data-id='about Aggregus' class="option"><i style="margin-left:2.5px;" class="icon-info-sign"></i></div></a>
            <a href="/#experiences"><div data-id='discover' class="option"><i style="margin-left:4px;" class="icon-globe"></i></div></a>
            <div data-id='join the Team' class="option"><i style="margin-right:3px;" class="icon-code"></i></a></div>
            <a onclick="window.location.assign('/#terms')"><div data-id='legal' class="option"><i style="margin-left:1px;" class="icon-legal"></i></div></a>
            <a href="http://on.fb.me/19Nyw5E" target="_blank"><div data-id='facebook' class="option"><i style="margin-left:8px;" class="icon-facebook"></i></div></a>
            <a href="http://bit.ly/ZwMzYZ" target="_blank"><div data-id='twitter' class="option"><i style="margin-left:2.5px;" class="icon-twitter"></i></div></a>
            <a href="http://bit.ly/ZTUF0g" target="_blank"><div data-id='google+' class="option"><i style="margin-left:2.5px;" class="icon-google-plus"></i></div></a>
			<a href="mailto:hi@aggregus.com"><div data-id='email us!' class="option"><i style="margin-left:2.5px;" class="icon-envelope"></i></div></a>
     <div class="title">About Aggregus</div>
    </div> 