<div class="homepage">

<img src="https://d2qjfe4gq0m6av.cloudfront.net/experiences/18136460/coverimgs/1374692288501.jpg" class="background" style="visibility:visible" id="bgimg0"/>

<div class="demomodal"></div>
<div class="introduction">
	<div class="banner"><span class="banner-inner">Welcome to Aggregus</span></div>
	<div class="subbanner">Aggregus is the simple, beautiful way to find amazing experiences in your community.</div>
	<div class="searchBox">
		<label for="searchLoc" class="searchLocIcon"><i class="icon-search"></i></label><br />
		<input type="text" name="searchLoc" class="searchLoc" placeholder="Where's home?" />
	</div>
	<button class="btn searchLocBtn">Search</button>
</div>

<div class="card notouch" id="demopin0">
	 <img height="250" width="250" src="https://d2qjfe4gq0m6av.cloudfront.net/experiences/18136460/profileimgs/1374694785925.jpg" />
	 <div class="inner">
			<a href="#experience/18136460"><div class="title">Guatemalan Coffee Flight</div></a>
			<div class="author">by <a href="#profile/OnyxCoffee18623245">Onyx Coffee</a></div>
			<div class="price">$10</div>
		   <div class="createheart option"><i class="icon-heart"></i></div>
	 </div>
</div>

<div class="polaroid">
	<h1 style="margin-top:-0px">Experience your community.</h1>
	<h3 style="margin-top:-0px">Aggregus brings you the best alternative experiences from individuals and local businesses in your community.</h3>
	<h3 style="margin-top:-10px">Choose from the options below to get started, or create an account by clicking "Sign Up" in the menu bar.</h3>
	<a href="/#experiences"><button style="position:absolute;margin-top:265px;" class="sel btn">Search Experiences</button></a>
	<a href="/#learnmore"><button style="position:absolute;margin-top:325px;" class="sel btn">Learn More About Aggregus</button></a>
</div>

</div>

</div>