<div class="modalcover"></div>

<div class="modalwindow">

	<span class="close">X</span>

	<div style="display:none" class="messenger">
    	<h3>Type your message below:<h3>
		<label for="subjectinput">Subject: </label>
		<input type="text" name="subjectinput" class="subjectinput"></input><br/>
        <textarea class="messageinput"></textarea>
        <button class="sendmessage btn">Send</button>
        <button class="cancelmessage btn">Cancel</button>
    </div>
	
	<div style="display:none" class="message">
    	<h3 class="from">Your Message:<h3>
		<h3><span class="subject"></span></h3>
        <div class="content"></div>
        <button class="replymessage btn">Reply</button>
		<button data-id="" style="margin-left:80px;" class="deletemessage btn">Delete</button>
    </div>

</div>

</div>