<div class="card notouch">
            <a href="/#experience/<%= aggid %>"><img height="250" width="250" src="<%= profileimg %>" /></a>
     <div class="inner">
            <a href="/#experience/<%= aggid %>"><div class="title"><%= name %></div></a>
            <div class="author">by <a href="/#profile/<%= creator.aggid %>"><%= creator.name.first %> <%= creator.name.last %></div></a>
            <div class="price">$<%= price %></div>
           <div data-id="<%= aggid %>" class="heart option"><i class="icon-heart"></i></div>
     </div>
</div>