<div id="resetpasswordcontent">
    
    <div id="resetpassform">
    <label for="resetpassfirst">Enter New Password</label>
    <input id="resetpassfirst" name="resetpassfirst" onfocus="this.value = ''" type="password" />
    <label for="resetpasssecond">Repeat Password</label>
    <input id="resetpasssecond" name="resetpasssecond" onfocus="this.value = ''" type="password" />
    <input id="resetpasssubmit" class="btn" name="resetpasssubmit" type="submit" value="Confirm Reset" />
    <div id="resetpassworderror"></div>
    </div>
    
</div>