<a href="/#index"><div class="title">Aggregus</div></a>
<div style="right:165px" class="viewxps btn">View Experiences</div>
<div style="right:76px;" class="signup"><span>Sign Up</span></div>
<div style="right:0px;" class="login"><span>Login</span></div>


