<a href="/#index"><div class="title">Aggregus</div></a>
<div class="logout"><span>Logout</span></div>
<div class="plzbtn"><i class="icon-question-sign"></i></div>
<div class="overview">
	<a href="/#index"><img height="25" width="25" src="<%= profileimg %>" /></a>
	<a style="color:white;" href="/#index"><span>Hello, <%= name.first %><span></a>
	<div style="left:-220px;margin-top:-8px;" class="viewxps btn">View Experiences</div>
</div>
<div class="help">
<div class="carnet"></div>
	<div class="box">
		<span>Enter your question below and we shall respond post-haste!</span>
		<textarea class="helpquestion" cols="5" rows="5"></textarea>
		<button class="submithelp btn">Submit Question</button><img class="helpreqimg"style="position:absolute;margin-left:20px;display:none" src="http://d2qjfe4gq0m6av.cloudfront.net/assets/helpreq3.gif" />
	</div>
</div>