<div class="experience">
    
    	<img src="<%= profileimg %>">
		
		<span class="content">
  
  		<span class="title"><%= name %></span>
  
  		<span class="buttons">
				<button class="btn editxp">Manage Experience</button>
				<a href="/#experience/<%= aggid %>"><button class="btn">View Experience</button></a>
		</span>
			
		</span>
            
		<div data-id="<%= aggid %>" class="delete">
			<i class="icon-remove-circle"></i>
		</div>
        
    </div>